body {
  margin: 0;
}

header {
  display: flex;
  background-color: green;
  padding-inline: 10px;
}

nav {
  flex: 1;
}

nav ul {
  padding: 0;
  margin: 0;
  margin-block: 20px;
  justify-content: flex-end;
  list-style: none;
  display: flex;
}

li a {
  padding: 8px 20px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: black;
  color: white;
}

svg {
  width: 80px;
  height: 80px;
}

svg circle {
  fill: yellow;
}
